/* Định nghĩa CSS cho DueDateCalculatorForm */
.due-date-calculator-form .form-group {
    margin-bottom: 16px;
  }
  
  .due-date-calculator-form .form-control {
    width: 100%;
    margin-bottom: 16px;
    font-size: 16px;
    /* border: 1px solid #d1d5db; */
    border-radius: 8px;
    background-color: #fff;
    outline: none;
  }
  .form-control .ant-select-selector{
    padding: 19px 12px; 
    border: none !important;
  }
  
  /* .due-date-calculator-form .cycle-dropdown .ant-select {
    width: 100%;
    margin-bottom: 16px;
  } */

  .due-date-calculator-form {
    margin-top: 35px;
  }

  .weeks-container {
    margin-top: 15px;
  }
  
  .due-date-calculator-form .timeline-button {
    background-color: #FAACAA;
    border-color: #FAACAA;
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .due-date-calculator-form .timeline-button:hover {
    background-color: #FF9CD2 !important;
  }
  
  .due-date-calculator-form .timeline-button:active {
    background-color: #D68A8A;
    border-color: #D68A8A;

    
  }



.gestational-age {
  display: flex;
  align-items: center;
  gap: 20px; /* Khoảng cách giữa hai phần */
}

.weeks-container, .days-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.weeks-container label, .days-container label {
  text-align: left;
  font-weight: 500;
  margin-bottom: 5px;
}

.days-container {
  margin-top: 15px;
}


  