.box-number {
  display: flex;
  line-height: 1;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.box {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 28px;
}
.icon-wrapper {
  flex: 0 0 auto;
  margin-right: 20px;
}

.content-wrapper {
  flex: 1 1 auto;
}

.title-dashboard {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.description-dashboard {
  font-size: 14px;
  color: #888;
}
