

.pregnancy-calculator {
  width: 100%;
}



.input-group {
  display: flex;
  gap: 8px;
  align-items: center;
}

.input-group input,
.input-group select {
  padding: 8px 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

.height-feet{
  width: 86px;
}

.input-group select {
  width: 80px;
}

.input-group .full-width {
  width: 35%;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #f9a8d4;
  box-shadow: 0 0 0 3px rgba(249, 168, 212, 0.2);
}

.height-group {
  display: flex;
  gap: 16px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px 0;
}

.checkbox-group input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #f9a8d4;
  outline: none;
  cursor: pointer;
}

.checkbox-group label {
  cursor: pointer;
  margin-bottom: 0;
}

.calculate-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #f9a8d4, #f472b6);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.calculate-btn:hover {
  opacity: 0.9;
}

input::placeholder {
  color: #9ca3af;
}

.unit-label {
  color: #374151;
  font-size: 16px;
}



.input-group input:invalid:not(:placeholder-shown):focus,
.input-group select:invalid:not(:placeholder-shown):focus {
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.2);
}


.result-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.result-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.result-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.result-title {
  font-size: 18px;
  color: #333;
  margin: 0;
  font-weight: normal;
}

.result-value {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  margin: 8px 0 20px;
}

.start-over-btn {
  background: none;
  border: none;
  color: #0066cc;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  padding: 8px 16px;
  margin-top: 20px;
}

.start-over-btn:hover {
  color: #004999;
}

.chart-description {
  text-align: left;
  margin: 20px 0;
  color: #333;
  line-height: 1.6;
}